body {
  margin: 0;
  padding: 0%;
}
.bg-logo {
  width: 100%;
  height: 1080px;
  position: absolute;
}
#first-container {
  display: flex;
}
.logo-name {
  display: flex;
}
.container-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10%;
}
.name-logo {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  position: relative;
  flex-basis: 80%;
  margin-left: 8%;
}
.burger {
  order: 1;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin: auto;
  position: relative;
  flex-basis: 5%;
}
.btn {
  order: 2;
  border-radius: 50%;
  cursor: pointer;
  align-self: stretch;
  margin: auto;
  position: relative;
  flex-basis: 20%;
}
.btn span,
.btn span::before,
.btn span::after {
  position: absolute;
  top: 145%;
  margin-top: -2px;
  width: 20px;
  height: 2px;
  background-color: white;
  left: 2%;
}
.btn span::before,
.btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.btn span::before {
  transform: translateY(-5px);
}
.btn span::after {
  transform: translateY(5px);
}
.btn_active span {
  height: 0;
}
.btn_active span:before {
  transform: rotate(45deg);
}
.btn_active span:after {
  transform: rotate(-45deg);
}
#flex-container-second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: flex-end;
}
.text-first {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 48px;
  position: relative;
}
.text-second {
  font-family: 'Raleway', Regular;
  color: white;
  font-weight: 200;
  position: relative;
  font-size: 24px;
}
.text-third {
  font-family: 'Raleway', Regular;
  color: white;
  position: relative;
  font-size: 24px;
  font-weight: 200;
}
.text-fourth {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  font-weight: 200;
}
